@model IEnumerable<Inventorydata.data.StockRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {item.ID}) |
                @Html.ActionLink("Details", "Details", new { item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { item.ID})
            </td>
        </tr>
}
    </tbody>
</table>
